@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap');

body {
    font-size: 16px;
    text-align: center;
    background-color: #f8faff;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Caveat', cursive;
}

.s {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.words {
    font-family: 'Montserrat';
    .elem {
        border: 1px solid #235789;
        padding: 3px 10px;
        p {
            font-weight: 600;
            text-align: left;
        }
        .content {
            padding: 10px 0;
            border-top: 1px solid #000;
            display: none;
            &.block {
                display: block;
            }
        }
    }
}

span {
    font-size: 60px;
    font-weight: 600;
    display: block;
    font-family: 'Baloo Chettan 2';
    color: #235789;
    margin-bottom: 20px;
}

.bubbly-button{
    display: inline-block;
    font-size: 16px;
    font-family: 'Baloo Chettan 2', cursive;
    padding: 10px 25px;
    margin-top: 0px;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    &::before, &::after {
        position: absolute;
        /* content: ''; */
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
    }
    &:active{
        transform: scale(0.9);
        background-color: darken(#ff0081, 5%);
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
}
